<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>product cart</title>
<style>
.cart{
	display: flex;
	gap: 10px;
}
.product{
	width:300px;
	border: 1px solid;
	padding: 1em;
}
</style>
</head>
<body>
<h1>Products cart</h1>
	<div class="cart">
		<div th:each="p : ${productList}" class="product">
			<h3 th:text="${p.productName}"></h3>
			<p th:text="'price: '+${p.productCost}+' INR'"></p>
			<img th:src="@{${p.imageUrl}}" width="100px" height="100px" alt=""/>
			<p th:text="${p.productDescription}"></p>
			<br/>
		</div>
		
	</div>
</body>
</html>